body {
    background-color: bisque;
    position: absolute;
    text-align: center;
}

.underlay{
    position: relative;
    bottom: 720px;
    z-index: -1;
}
.overlay{
    position: relative;
    bottom: 1440px;
    z-index: 2;
}